# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (uncomment to ignore vendor directory)
# vendor/

# Go workspace file
go.work
go.work.sum

# Environment file
.env

# GoLand (IntelliJ IDEA) files
.idea/
*.iml
*.iws
.project
.classpath
.settings/